@import "tailwindcss";
@plugin '@tailwindcss/typography';

.content-auto {
	content-visibility: auto;
}

:is(button, a) {
	@apply cursor-pointer;
}

.pill-selected {
	@apply bg-black text-white;
}

.prose-xl a {
	color: #0021ff;
	text-decoration: underline;
	text-underline-offset: 4px;
}