---
import SectionHeading from "../SectionHeading.astro"
import Timeline from "../Timeline.astro"

const timelineItems = [
  {
    time: "September 2024 - Present",
    heading: "The Moonshot Factory",
    desc: "Back-end services and APIs development, code reviews, automated testing, performance optimizations.",
  },
  {
    time: "November 2023 - September 2024",
    heading: "Stack360",
    desc: "Full-stack web development, "
  },
  {
    time: "August 2020 - October 2023",
    heading: "OSO Software Outsourcing",
    desc: "Full-stack web development, requirements gathering, time estimations, project documentations."
  },
  {
    time: "April 2019 - July 2020",
    heading: "Institute of Management Sciences (PAK-AIMS) — BSCS",
    desc: "Acquisition of Bachelors degress in computer sciences."
  },
  {
    time: "July 2016 - March 2019",
    heading: "KPMG Taseer Hadi & Co. Chartered Accountants - Articleship",
    desc: "Business process workflows analysis and identification of security and operational issues in IT systems. Suggestion of steps to mitigate identified problems."
  },
  {
    time: "September 2013 - March 2016",
    heading: "Professionals Academy Of Commerce — CA (Intermediate)",
    desc: "Acquisition of degress for Chartered Accountancy."
  }  
]
---

<div class="py-14" id="xp">
  <SectionHeading text="Experience & Education" />
  <Timeline items={timelineItems} />
</div>
