---
import LinkIcon from "../icons/LinkIcon.astro";
---

<div class="py-12 md:py-20">
	<div class="lg:grid lg:grid-cols-2 lg:gap-4">
		<div class="flex py-4 flex-col space-y-8">
			<p class="text-gray-800">Hello, my name is</p>
			<h1
				class="text-5xl lg:text-7xl my-auto font-serif font-bold text-gray-900 pb-3"
			>
				Muhammad Moeen.
			</h1>
			<p class="flex-1">
				I am a senior software engineer based in Lahore (Pakistan), with <em
					class="font-bold">5+ years</em
				>
				of experience in Golang, Javascript, Typescript, Node.js and React,
				developing full-stack web applications, REST & GraphQL APIs, microservice
				and CLIs. I specialize in building high-performance and reliable solutions
				that ensure seamless user experiences.
			</p>
			<div class="flex space-x-4">
				<a
					class="px-4 py-3 bg-black hover:bg-gray-900 text-white text-sm cursor-pointer inline-flex rounded space-x-2 transition-colors"
					href="/resume.pdf"
					target="_blank"
				>
					<LinkIcon className="h-4 w-4 text-white" />
					<span class="my-auto self-center leading-none font-medium"
						>Resume</span
					>
				</a>

				<a
					class="px-4 py-3 bg-black hover:bg-gray-900 text-white text-sm cursor-pointer inline-flex rounded space-x-2 transition-colors"
					href="/#contact"
				>
					<span class="my-auto self-center leading-none font-medium"
						>Get in touch</span
					>
				</a>
			</div>
		</div>

		<div class="bg-transparent flex">
			<div
				class="hidden lg:block h-80 w-80 rounded-full bg-[url('/picture.webp')] bg-center bg-cover bg-no-repeat border-2 border-dotted border-gray-300 my-auto ml-auto mr-6"
			>
			</div>
		</div>
	</div>
</div>
