---
import SectionHeading from "../SectionHeading.astro";
import ProjectCard from "../ProjectCard.astro";
import { projects } from "../../content";
---

<div class="py-14 content-auto" id="projects">
  <SectionHeading text="Projects" />

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</div>
