---
import SectionHeading from "../SectionHeading.astro";
import { tools } from "../../content";
---

<div class="py-14" id="tools">
    <SectionHeading text="Skills & Tools" />

    <div>
        {
            tools.map((category) => (
                <div class="mb-16 mt-4">
                    <span class="text-slate-800 text-xs bg-slate-300 rounded-full px-3 py-1 font-medium">
                        {category.title}
                    </span>
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 mt-4">
                        {category.tools.map((t) => (
                            <div
                                class="flex space-x-3 rounded hover:bg-slate-100 hover:scale-110 transition-all p-2"
                                title={t.name}
                            >
                                <img
                                    src={t.icon.src}
                                    alt="tools"
                                    class="h-10 opacity-70 hover:opacity-100 duration-300"
                                />
                                <p class="text-slate-900 my-auto">{t.name}</p>
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</div>
