---
import SectionHeading from "../SectionHeading.astro";
import { tools } from "../../content";
import Technology from "../Technology.astro";
---

<div class="py-14" id="tools">
	<SectionHeading text="Skills & Tools" />

	<div>
		{
			tools.map((category) => (
				<div class="mb-16 mt-4">
					<span class="text-white text-xs bg-black rounded-full px-3 py-1 font-medium">
						{category.title}
					</span>
					<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 mt-4">
						{category.tools.map((t) => (
							<Technology tech={t} />
						))}
					</div>
				</div>
			))
		}
	</div>
</div>
