---
import BaseLayout from "../layouts/BaseLayout.astro";
import Container from "../components/Container.astro";
import SectionHeading from "../components/SectionHeading.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import { getCollection } from "astro:content";
const blogposts = await getCollection("blog");
---

<BaseLayout
	title="Blogs"
	meta={{
		url: "/blogs",
		description:
			"Technical articles and musings related to software engineering",
	}}
>
	<Container>
		<section class="pt-8 pb-14">
			<SectionHeading text="Blogs" />

			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
				{blogposts.map((p) => <BlogPostCard post={p} />)}
			</div>
		</section>
	</Container>
</BaseLayout>
