---
import Container from "./Container.astro";
const year = new Date().getFullYear();
---

<footer class="py-4 bg-slate-200 opacity-50 text-slate-600">
  <Container>
    <div class="flex">
      <span class="text-sm mx-auto">© {year} - Muhammad Moeen</span>
    </div>
  </Container>
</footer>
