---
import Container from "./Container.astro";
const year = new Date().getFullYear();
---

<footer class="py-4 bg-gray-200 text-gray-500">
	<Container>
		<div class="flex">
			<span class="text-sm mx-auto">© {year} - Muhammad Moeen</span>
		</div>
	</Container>
</footer>
