---
import Container from "./Container.astro";
import Bar2Icon from "./icons/Bar2Icon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";

const navItems = [
  { id: "/#career", text: "Career" },
  { id: "/#projects", text: "Projects" },
  { id: "/#tools", text: "Skills & Tools" },
  { id: "/#contact", text: "Contact Me" },
];
---

<Container>
  <nav>
    <div class="pt-8 pb-4 flex justify-between">
      <a class="my-auto cursor-pointer" href="/#">
        <span
          class="font-mono pb-1 pt-2 font-bold text-nbg bg-nfg px-3 py-1 rounded"
          >M.M</span
        >
      </a>

      <div class="block md:hidden">
        <div
          data-navbutton
          class="hover:bg-slate-200 rounded p-2 cursor-pointer"
        >
          <Bar2Icon />
        </div>
      </div>

      <div class="hidden md:flex md:space-x-2">
        {
          navItems.map((item) => (
            <a
              href={item.id}
              class="px-3 py-2 text-nfg hover:text-slate-900 text-sm my-auto hover:bg-slate-200 rounded transition-colors"
            >
              {item.text}
            </a>
          ))
        }

        <div class="flex px-2">
          <span class="my-auto text-slate-300">|</span>
        </div>

        <div class="flex space-x-2">
          <a
            href="https://github.com/moeenn"
            target="_blank"
            class="my-auto hover:bg-slate-200 transition-colors rounded-full h-10 w-10 inline-flex"
            title="Github"
          >
            <GithubIcon />
          </a>

          <a
            href="https://www.linkedin.com/in/moeenn"
            target="_blank"
            class="my-auto hover:bg-slate-200 transition-colors rounded-full h-10 w-10 inline-flex"
            title="LinkedIn"
          >
            <LinkedinIcon />
          </a>
        </div>
      </div>
    </div>

    <div data-mobilemenu class="hidden">
      <div class="flex flex-col md:hidden bg-slate-100 py-2 rounded">
        {
          navItems.map((item) => (
            <a
              href={item.id}
              class="px-3 py-2 text-nfg hover:text-slate-900 hover:bg-slate-300 text-sm my-auto transition-colors"
            >
              {item.text}
            </a>
          ))
        }
      </div>

      <div class="flex space-x-6 bg-slate-200 rounded-b">
        <a
          href="https://github.com/moeenn"
          target="_blank"
          class="my-auto flex-1 inline-flex hover:bg-slate-300 transition-colors py-4 rounded-bl"
          title="Github"
        >
          <span class="mx-auto inline-flex space-x-2">
            <GithubIcon />
            <span class="my-auto text-sm">Github</span>
          </span>
        </a>

        <a
          href="https://www.linkedin.com/in/moeenn"
          target="_blank"
          class="my-auto flex-1 inline-flex hover:bg-slate-300 transition-colors py-4 rounded-br"
          title="LinkedIn"
        >
          <span class="mx-auto inline-flex space-x-2">
            <LinkedinIcon />
            <span class="my-auto text-sm">LinkedIn</span>
          </span>
        </a>
      </div>
    </div>
  </nav>

  <script src="/scripts/navbar.js" defer></script>
</Container>
