---
import Container from "./Container.astro";
import Bar2Icon from "./icons/Bar2Icon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";

const navItems = [
	{ id: "/#career", text: "Career" },
	{ id: "/#projects", text: "Projects" },
	{ id: "/#tools", text: "Skills & Tools" },
	{ id: "/#contact", text: "Contact Me" },
];
---

<Container>
	<nav>
		<div class="pt-8 pb-4 flex justify-between">
			<a class="my-auto cursor-pointer" href="/#">
				<span
					class="font-mono pb-1 pt-2 font-bold text-white bg-gray-900 px-3 py-1 rounded"
					>M.M</span
				>
			</a>

			<div class="block md:hidden">
				<div class="flex space-x-2">
					<a
						href="https://github.com/moeenn"
						target="_blank"
						class="my-auto hover:bg-gray-200 transition-colors rounded-full h-10 w-10 inline-flex"
						title="Github"
					>
						<GithubIcon className="size-6 m-auto" />
					</a>

					<a
						href="https://www.linkedin.com/in/moeenn"
						target="_blank"
						class="my-auto hover:bg-gray-200 transition-colors rounded-full h-10 w-10 inline-flex"
						title="LinkedIn"
					>
						<LinkedinIcon className="size-6 m-auto" />
					</a>

					<div
						data-navbutton
						class="hover:bg-gray-200 rounded p-2 cursor-pointer"
					>
						<Bar2Icon className="text-gray-700 h-6 w-6" />
					</div>
				</div>
			</div>

			<div class="hidden md:flex md:space-x-2">
				{
					navItems.map((item) => (
						<a
							href={item.id}
							class="px-3 py-2 text-black text-sm my-auto border-b-2 border-transparent hover:border-black hover:bg-gray-200 rounded-t transition-colors"
						>
							{item.text}
						</a>
					))
				}

				<a
					href="/blogs"
					class="px-3 py-2 font-bold text-black text-sm my-auto hover:bg-gray-200 border-b-2 border-transparent hover:border-black rounded-t transition-colors"
				>
					Blogs
				</a>

				<div class="flex px-2">
					<span class="my-auto text-gray-300">|</span>
				</div>

				<div class="flex space-x-2">
					<a
						href="https://github.com/moeenn"
						target="_blank"
						class="my-auto hover:bg-gray-200 transition-colors rounded-full h-10 w-10 inline-flex"
						title="Github"
					>
						<GithubIcon className="size-6 m-auto" />
					</a>

					<a
						href="https://www.linkedin.com/in/moeenn"
						target="_blank"
						class="my-auto hover:bg-gray-200 transition-colors rounded-full h-10 w-10 inline-flex"
						title="LinkedIn"
					>
						<LinkedinIcon className="size-6 m-auto" />
					</a>
				</div>
			</div>
		</div>

		<div data-mobilemenu class="hidden">
			<div class="flex flex-col md:hidden bg-gray-100 rounded">
				{
					navItems.map((item) => (
						<a
							href={item.id}
							class="px-3 py-4 text-black leading-none hover:bg-gray-300 text-sm my-auto transition-colors mb-0 rounded"
						>
							{item.text}
						</a>
					))
				}

				<a
					href="/blogs"
					class="px-3 py-4 text-black leading-none hover:bg-gray-300 text-sm my-auto transition-colors mb-0 rounded"
				>
					Blogs
				</a>
			</div>
		</div>
	</nav>

	<script src="/scripts/navbar.js" defer></script>
</Container>
