---
type Props = {
  percentage: number
}

const props = Astro.props
---

<div class="w-full h-1 my-auto bg-gray-200">
  <div class="h-1 bg-gray-900" style={{ width: `${props.percentage}%` }}></div>
</div>
