---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Container from "../../components/Container.astro";
import SectionHeading from "../../components/SectionHeading.astro";
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";

type Props = {
	id: string;
	post: CollectionEntry<"blog">;
};
const props = Astro.props;

export const getStaticPaths = (async () => {
	const posts = await getCollection("blog");
	return posts.map((p) => ({
		params: { id: p.id },
		props: { post: p },
	}));
}) satisfies GetStaticPaths;

const { Content } = await render(props.post);
---

<BaseLayout
	title={props.post.data.title}
	meta={{ url: "/blogs/" + props.id, description: props.post.data.desc }}
>
	<Container>
		<div class="pt-8 pb-14">
			<h2 class="text-2xl space-x-2 mb-2">
				<span class="font-normal text-gray-500">#</span>
				<span class="text-gray-900">{props.post.data.title}</span>
			</h2>

			<div class="flex flex-wrap gap-2 mb-6">
				{
					props.post.data.tags.map((t) => (
						<span class="text-xs bg-gray-200 rounded px-2 py-1">
							{t}
						</span>
					))
				}
			</div>

			<div
				class="prose-xl prose-p:leading-relaxed prose-p:text-base prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-pre:mt-2 pre-code:text-base pre-code:leading-relaxed prose-ul:list-disc prose-table:border prose-table:border-gray-300 prose-table:w-full prose-table:mb-10 prose-tr:border prose-tr:border-gray-300"
			>
				<Content />
			</div>
		</div>
	</Container>
</BaseLayout>
