---
import { Navbar } from "@/components/Navbar";
import { Footer } from "@/components/Footer";
import { ScrolltopButton } from "@/components/ScrolltopButton";
const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/favicon.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-nbg text-nfg selection:bg-slate-200">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer client:visible />
    <ScrolltopButton client:load />
  </body>
</html>
